body{
    font-family: 'Poppins', sans-serif;  
    margin: 0%;   
    }
    h1{
     font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
    .Name-color{
        color: orange;
    }
    .Flixeble-Conteinar{
        display: flex;
       margin-bottom: 2px;       
    }
    .Half-width{
        width: 50%;
        padding-left: 5%;
        padding-bottom: 10px;
    }
    .Half-width img{       
        width: 100%;        
    }
    .Link-Button{
        text-decoration: none;
        background-image: linear-gradient(orange ,rgb(197, 42, 14));
        font-weight: 700px;
        color: white;
        padding: 8px 20px;
        border-radius: 5px;
    }
    .Top-Banner{
        background-image: url(image/360_r.jpg);
        padding-bottom: 150px;
    }
    .Dreem-Big{
        background-image: url(image/bottomo.jpg);
        background-repeat: no-repeat;
        padding-bottom: 200px;
    }
    .Exprianse-Item{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 20px;
        border-radius: 15px;
        box-shadow: 10px 10px 40px rgb(245, 147, 193);
    }
    .Expreanse-area{
        background-image: url(image/rm309-adj-01.jpg);
        margin-bottom: 5px;
        padding-bottom: 180px;
        
    }
    #Full-Stack-Devoloper{
        border-left: 7px solid;
        border-image: linear-gradient(blue, cyan);
        border-image-slice: 1;
    }
    #Baby-Developer{
        border-left: 7px solid;
        border-image: linear-gradient(rgb(115, 255, 0), rgb(255, 72, 0));
        border-image-slice: 1;
    }
    footer p{
        text-align: center;
        text-decoration: underline;
        background-color: rgb(143, 100, 134);
        margin-top: auto;
        margin-bottom: 1%;
        height: 100px;
    }
    .Footer-Color{
        color: rgb(248, 242, 233);
    }